// Comment for SASS autocompile

.recommendations {
  .outer-container {
    padding: 1em;

    .inner-container {
      border: 1px solid white;
      position: relative;
      height: 8em;

      p {
        margin: 0
      }
    }
  }
}
