// Comment for SASS autocompile
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir-Light';
  letter-spacing: 0px;
  color: white;

  .wrapper {
    .logo-img {
      width: auto;
      height: 100%;
    }
  }
}
